{% extends 'app/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Forms
{% endblock %}

{% block content %}

    <form role="form" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form type='non_fields' %}

        {% bootstrap_field form.subject layout='horizontal' size='sm' %}
        {% bootstrap_field form.message placeholder='bonkers' %}

        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>

{% endblock %}
