exclude .readthedocs.yml
exclude Makefile
exclude requirements-dev.txt
exclude *.md

include README.md
include LICENSE
include MANIFEST.in
include AUTHORS
include tox.ini
include manage.py

graft src
graft tests
graft docs

prune docs/_build
prune example

global-exclude *.py[co]
